Program: <CCNDRVR> Arguments: </CXX>
DDNames:
  SYSPRINT=*
  SYSIN=@@HLQ@@.MVSCMD.C(MAIN)
  SYSLIN=@@HLQ@@.MVSCMD.C.OBJ(MAIN)
Dynamic allocation succeeded for SYSPRINT (temporary dataset for console)
PDS Member allocation succeeded for SYSIN=@@HLQ@@.MVSCMD.C(MAIN)
PDS Member allocation succeeded for SYSLIN=@@HLQ@@.MVSCMD.C.OBJ(MAIN)
OS Load program CCNDRVR 
Addressing mode: AMODE31
Exit code: 0 from CCNDRVR
